<div class="container">
 <div class="row">

	<div class="col-lg-9">
	  <div class="top-text">
		<h1>Welcome to
			<i class="fas fa-book"></i>
			<b>Bookers!!</b>
		</h1>
		<p>In
		  <i class="fas fa-book"></i>
			<b>Bookers</b>,
		</p>
	  </div>
	 	<div class="col-lg-10">
	</div>

 </div>
</div>
